footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #222;

}

footer p {
  padding: 0 1em;
  font-family: "montserrat";
  font-size: 60%;

}

a {
  text-decoration: none;
  color: var(--textcolor);

}
